<style>
        h1 {color: blue; }
        h2 {color: red; }
</style>
 
<h1>Título do seu relatório</h1>
<img target="_blanck" src="http://cdn1.iconfinder.com/data/icons/CrystalClear/128x128/mimetypes/pdf.png">
 
<h2>Seção 1</h2>
 
<p>
Ainda assim, existem dúvidas a respeito de como a
adoção de políticas descentralizadoras causa impacto
indireto na reavaliação dos paradigmas corporativos.
</p>
 
<h2>Seção 2</h2>
 
<p><strong>Nunca é demais</strong> lembrar o peso e o significado
destes problemas, uma vez que a adoção de políticas
descentralizadoras afeta positivamente a correta
previsão do remanejamento dos quadros funcionais.
</p>
